@charset 'UTF-8';
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, pre, a, abbr, acronym, address, big, cite, code, dfn, em, font, kbd, s, samp, small, strike, strong, tt, var, dl, dt, dd, li, fieldset, form, label, legend, tbody, tfoot, thead, tr {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
}
body {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-size:62.5%;
    font-family:inherit;
    font-family:sans-serif;
    vertical-align:baseline;
    line-height:1;
    background:#c4c4c4;
}
p {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    text-indent:0px;
}
blockquote, q {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    quotes:"" "";
}
blockquote:before, blockquote:after, q:before, q:after { content:""; }
del {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    text-decoration:line-through;
}
img {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    -ms-interpolation-mode:bicubic;
}
ins {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    text-decoration:none;
}
sub, sup {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    line-height:0;
}
ol, ul {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    list-style:none;
}
table {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show;
}
caption, td {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-weight:normal;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    vertical-align:middle;
    text-align:left;
}
th {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-weight:normal;
    font-weight:bolder;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    vertical-align:middle;
    text-align:left;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section { display:block; }
:focus { outline:0; }
.erase { display:none; }
.hide { visibility:hidden; }
.lfloat { float:left; }
.rfloat { float:right; }
.lclear { clear:left; }
.rclear { clear:right; }
.clear { clear:both; }
.strike { text-decoration:line-through; }
.center { text-align:center; }
.left { text-align:left; }
.right { text-align:right; }
#new {
    position:absolute;
    left:50%;
    top:50%;
    width:200px;
    height:300px;
    margin-top:-150px;
    margin-left:-100px;
    background:#dcdcdc;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.50);
    box-shadow:0px 0px 5px 0px rgba(0,0,0,0.50);
}
#new h1 {
    font-size:1.8em;
    line-height:1.2;
    font-weight:bold;
    padding:10px;
    color:#555555;
}
#new .option { padding:5px 10px; }
#new .option:after {
    content:'';
    display:block;
    clear:both;
}
#new .option h2 {
    font-size:1.5em;
    line-height:1.2;
    font-weight:bold;
    color:#555555;
}
#new .option input {
    float:left;
    clear:left;
}
#new .option label {
    font-size:1.2em;
    line-height:1.7em;
    float:left;
    padding-left:5px;
}
