@charset 'UTF-8';

@import 'reset.css';

body {
    font-family: sans-serif;
    background: #C4C4C4;
}

#new {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 300px;
    margin-top: -150px;
    margin-left: -100px;
    background: #DCDCDC;
    -moz-border-radius: 10px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}